[user]
  name = TSUYUSATO Kitsune
  email = make.just.on@gmail.com
  signingkey = 98BC940149C2BB5ED05DEBF49F4CB6A0CB6B6BE9
[push]
  default = current
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  precomposeunicode = true
  quotepath = false
[github]
  user = MakeNowJust
[commit]
  gpgsign = true

[url "git@github.com:"]
  pushInsteadOf = git://github.com
  pushInsteadOf = https://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = git://gist.github.com
  pushInsteadOf = https://gist.github.com/

